
.Dictionary{
    background-color: black;
    width: 100%;
    height: 100%;
    position: relative;
}

.Back{
    animation: none;
    text-decoration: none;
}

.Top{
    background-image: url("../media/space.jpeg");
    background-size: cover;
    padding: 50px 0 90px 0;
}

.title{
    font-family: 'Bungee', cursive;
    animation: color 3s infinite linear;
    text-shadow: 0 0 10px #000a;
    transition: all 0.5s;
    font-size: calc(10px + 6vmin);
    margin: 0 auto;
    float: left; 

  
    @keyframes color {
      @for $c from 0 through 10 {
        #{$c * 10%} { color: hsl(36 * $c, 75%, 75%); }
      }
    }
  }

.form{
    color: white;
    display: block;
    padding-left: 40px;
    padding-top: 15px;
    
}

.search-engine{
    width: 30vw;
    float: left;
}

.rocket-buttom{
    position:absolute;
    animation:none;
    max-width: 2vw;
    filter: saturate(300%);
}

.Evanny{
    color: white;
    display: block;
    margin-top: auto;
    text-align: center;
    padding:20px 0;
    
}