.title{
    color: black;
    display: block;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    width: 300px;
}

.form{
    color: white;
    display: block;
    margin: 20px;
}

.Evanny{
    display: block;
    margin: 0 auto;
}
