body {
    background-image: url("../media/space.jpeg");
}



.Back{
    animation: none;
    text-decoration: none;
}

.Top{
    background-image: url("../media/space.jpeg");
    background-size: cover;
    padding: 50px 0 90px 0;
}

.title{
    
    animation: color 3s infinite linear;
    float: left;
    font-family: 'Bungee', cursive;
    font-size: calc(10px + 6vmin);
    margin: 0 0 0 20px;
    text-shadow: 0 0 10px #000a;
    transition: all 0.5s;
   
  
    @keyframes color {
      @for $c from 0 through 10 {
        #{$c * 10%} { color: hsl(36 * $c, 75%, 75%); }
      }
    }
  }

.form{
    color: white;
    display: block;
    padding-left: 40px;
    padding-top: 15px;
    
}

.search-engine{
    border-radius: 10px;
    float: left;
    width: 30vw;
}

.rocket-buttom{
    animation:none;
    filter: saturate(300%);
    padding-left: 10px;
    position:absolute;
    width: 40px;
}

.Evanny{
    color: white;
    display: block;
    font-family: 'Gluten', cursive;
    margin-top: auto;
    padding:20px 0;
    text-align: center;
}

.sticker-lkd{
    filter: invert(100%);
    margin-left: 10px;
    width: 25px;
}

.sticker-lkd:hover{
    width: 30px;
}

.sticker-git{
    filter: invert(100%);
    margin-left: 10px;
    width: 25px;
}

.sticker-git:hover{
    width: 30px;
}