 .body{
    background-color: black;
    height: 100vh;
    width: 100vw;
  }


  .Universe{
    height: 100%;
    left: 50%;
    object-fit: cover;
    position:absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -1;
  }
  
  .Header { 
    align-items: center; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

  .Welcome {
    color: white;
    font-family: 'Gluten', cursive;
    font-size: calc(10px + 2vmin);
  }

  .Word {
    animation: color 3s infinite linear;
    font-family: 'Bungee', cursive;
    font-size: calc(10px + 7vmin);
    text-shadow: 0 0 10px #000a;
    transition: all 0.5s;
   
    @keyframes color {
      @for $c from 0 through 10 {
        #{$c * 10%} { color: hsl(36 * $c, 75%, 75%); }
      }
    }
  }

  .Go{
    color: white;
    text-decoration: none;
  }

  .Go:hover{
    animation:color 3s infinite linear;
    font-size: 20px;
    text-shadow: 0 0 10px #000a;
    transition: all 0.5s;
   
    @keyframes color {
      @for $c from 0 through 10 {
        #{$c * 10%} { color: hsl(36 * $c, 75%, 75%); }
      }
    }
  }

  .Rocket {
    animation-name: fly;
    animation-duration: 5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    filter: saturate(350%);
  }
  
  .Bottom{
    color: black;
    text-align: center;
  }

  @keyframes fly {  
    to {
      transform: translateX(-125%);
    }

    from {
      transform: translateX(150%);
    }
    
  }