.a-lot-photos{
    position: relative;
    width: 15%;
    height: 15%;
    transform-style: preserve-3d;
    animation: animate 35s linear infinite;
    margin: 0 auto;
    
}

@keyframes animate{
    0% { transform: perspective(1500px) rotateY(0deg);}
    100% { transform: perspective(1500px) rotateY(360deg);}

}

.first{
    --i:1;
}

.second{
    --i:2;
}

.third{
    --i:3;
}

.fourth{
    --i:4;
}

.fifth{
    --i:5;
}

.sixth{
    --i:6;
}

.seventh{
    --i:7;
}

.eighth{
    --i:8;
}

.Photos img {
    border-radius: 100px;
    height: 100px;
    position: absolute;
    object-fit: cover;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(250px);
    transform-style: preserve-3d;
    transform-origin: center;
    width:100px; 
}
