.Results{
    margin: 150px 150px 10px 150px;
}

.Results section {
    background-color:rgb(222, 220, 224);
    border-radius: 50px;
    margin: 20px 0;
    padding: 30px;
}

.Results h2 {
    font-family: 'Bungee', cursive;
    font-size: 40px;
    font-weight: bold; 
}



.definition {
    font-weight: bold;
    margin-top: 30px; 
}
