.Results{
    margin: 150px;
}

.Results section {
        background-color:rgb(222, 220, 224);
        padding: 30px;
        border-radius: 50px;
        margin: 20px 0;

}

.Results h2 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Bungee', cursive;
}



.definition {
    margin-top: 30px;
    font-weight: bold;
}
