.Synonyms {
    margin: 15px 0;
    padding: 0;
    
}

.Synonyms li {
    background-color:#bcb5fd;
    border-radius: 5px;
    color:black;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 5px 15px;
    text-align: center; 
}


